*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
background-color: lightyellow;
}
footer{
    width: 100vw;
    height: 100vh;
    margin: auto;
    font-size: 11px;
    
}
footer>#foot{
    margin: 40px 60px 40px 60px;
}

footer>.contain{
   width: auto;
   height: auto;
   border: 2px solid transparent;
   margin: 2px 30px 30px 30px;
   display: flex;
   justify-content: space-around;
   /* padding-top: 6px; */
   
}
ul{
    list-style-type: none;
}
a{
    color: grey;
     text-decoration:none; 
    }
a:hover {
        text-decoration: underline;
      }
      footer p{
        margin: 40px 60px 40px 60px;
      }
      