body{
    margin: 0px;
    padding: 0px;
}

/* Card-1 && Card-2 */
#card1, #card2{
    border: 1px solid black;
    background-color: black;
    color: white;
    text-align: center;
}
#card2{
    background-color: #fbfbfd;
    color: black;
    border: 0px;
}
#card1>h2, #card2>h2{
    font-size: 48px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
#card1>h3, #card2>h3{
    font-size: 24px;
    font-weight: 400;
    letter-spacing: .009em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: -30px;
}
#card1>button, #card2>button{
    background: transparent;
    border: 1px solid #6e6e73;
    font-size: 14px;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    border-radius: 16px;
    padding: 6px 10px;
    color: #6e6e73;
}
#small1, #small2{
    width: 13%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 17px;
    margin-bottom: 10px;
}
#small1>a, #small2>a{
    color: #2997ff;
    text-decoration: none;
    font-size: 19px;
    line-height: 1.21053;
    font-weight: 400;
    letter-spacing: .012em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
#card1>img{
    width: 40%;
}
 #card2>img{
    width: 30%;
    
 }

 /* card-3 */
 #card3{
    width: 100%;
 }
#card3>video{
    width: 100%;
    position: relative;
}
#float{
    position: absolute;
    color: aliceblue;
    z-index: 1;
    left: 35%;
    top: 1600px;
    width: 500px;
    text-align: center;
}
#float>h3{
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 400;
    letter-spacing: .009em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
#float>h1{
    margin-top: -30px;
    margin-bottom: -30px;
    font-size: 130px;
}
#float>button{
    font-size: 17px;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding: 8px 16px;
    color: #000;
    background: #ffffff;
    border: 0px;
    border-radius: 20px;
}
#float>button:nth-child(4){
    margin-right: 12px;
}
#float>button:nth-child(5){
    margin-left: 12px;
}
#float img{
   margin-bottom: -2px;
   margin-left: 2px; 
}


 /* Card-4 */
 #card4{
    width: 100%;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
 }
 #card4>img{
    width: 100%;
 }

 /* Slider */
#slideshow img{
    width: 100%;
    height: 700px;
}